html,body {
  height:100%;
}


.container {
    position:relative;  
}

.rowoverlay{
  position: absolute;
  top: 0;
  left:0;
  z-index:1;
  bottom:0;
  right:0;
  height:100%;
}

.coloverlay{
  background-color: rgba(233, 33, 33, .4);
  border: 1px solid red;
  height: 100%;
}

.grey, .red{ min-height: 50px; margin-bottom: 10px; }
.grey{ background-color: lightgrey; }
.red{ background-color: lightred; }

.main-button {
  color: transparent; 
  background-color: transparent; 
  border-color: transparent; 
  position: absolute;
}
.main-button:hover{
  opacity: 50%;
  transition: 0.5s;
  transform: scale(1.03);
}