<!doctype html>
<html>

<head>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('community')}}">קהילה</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('mechanics')}}">מכניקה</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('yezor')}}">יצור</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('code')}}">תוכנה</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('electronics')}}">אלקטרוניקה</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('cad')}}">שרטוט</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('other')}}">תחומים אחרים</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('explore')}}">חקור את האתר</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('index')}}">חזור לעמוד הראשי</a>
            </li>
            <form action="/electronics" method="POST">
                <div class="form-group">
                    <label>חפש מידע</label>
                    <input class="form-control" type="text" name="search_res">
                </div>
                <button type="submit" class = "btn btn-primary">חפש</button>
            </form>
        </ul>
    </nav>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</head>

<body>
    <br>

    <br>
    <div class="container"></div>
    <div class="row">
        {% for i in range(data|length)%}
        <div class="col-md-3">
            <!-- Button trigger modal -->
            <div class="text-center">
                
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModalLong-{{i}}"
                    style="padding-left: 20px; margin-top: 150px;text-align: center; color: black; font-size: x-large;">
                    <img src="{{data[i][2]}}" class="img-fluid" alt="Responsive image" width="420" height="420" >
                    {{data[i][0]}}
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong-{{i}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">{{data[i][0]}}</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p style="padding: 2px; direction: rtl;">{{data[i][1]}}</p>
                            <a href={{data[i][5]}}; style="direction: rtl;">קובץ</a>
                            <p style="padding-top: 6px; direction: rtl;">{{data[i][3]}}</p>
                            <p style="padding-top: 1px; direction: rtl;">{{data[i][4]}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">סגור</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</body>

</html>